<form  [formGroup]="form" (ngSubmit)="loadChanges()">
    <mat-form-field appearance="outline">
        <mat-label>Nombre Genero</mat-label>
        <input matInput [formControl]="form.controls.name" />
        <mat-error>{{getNameErrors()}}</mat-error>
    </mat-form-field>

    <div class="container-buttons">
        <button mat-flat-button type="submit" [disabled]="form.invalid"> Guardar</button>
        <a class="warn" mat-stroked-button routerLink="/genres" >Cancelar</a>
    </div>
</form>
