
<h2>Buscar Pelicula</h2>

<form class="form-movie-filter" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Título</mat-label>
    <input matInput [formControl]="form.controls.title" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Género</mat-label>
    <mat-select [formControl]="form.controls.genreId">
        <mat-option [value]="0">----- seleccionar un genero -----</mat-option>
      @for(genre of genres; track $index){
        <mat-option [value]="genre.id">{{ genre.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div>
      <mat-checkbox [formControl]="form.controls.upcomingReleases">Próximos Estrenos</mat-checkbox>
  </div>
  <div>
      <mat-checkbox [formControl]="form.controls.inTheaters">En Cines</mat-checkbox>
  </div>

  <div class="">
      <button 
        (click)="resetFilter()"
        mat-flat-button 
        class="warn" 
        type="button">Limpiar</button>
  </div>

</form>

<app-list-movies [movies]="movies"></app-list-movies>