
<h2>Generos</h2>

<button mat-flat-button class="primary" routerLink="/genres/create">Crear Genero</button>

<app-generic-list [items]="genres" >
    <ng-container content>
        <table mat-table [dataSource]="genres" class="mat-elevation-z8 table-index">
           
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef >Id</th>
                <td mat-cell *matCellDef="let genre">{{genre.id}}</td>
            </ng-container>

            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef >Nombre</th>
                <td mat-cell *matCellDef="let genre">{{genre.name}}</td>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef >Acciones</th>
                <td mat-cell *matCellDef="let genre">
                    <a routerLink="/genres/edit/{{genre.id}}" mat-flat-button class="">Editar</a>
                    <button mat-flat-button class="warn">Borrar</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
        </table>

        <mat-paginator 
            showFirstLastButtons 
            [length]="totalRecords" 
            [pageSizeOptions]="[5, 10, 15, 20, 25]"
            [pageSize]="pagination.recordsPerPage"
            (page)="handlePagination($event)"
            class=""
        ></mat-paginator>

    </ng-container>
</app-generic-list>