
<form>
    <mat-form-field>
        <input 
            type="text" 
            placeholder="Seleccione los actores" 
            matInput 
            [formControl]="control"
            [matAutocomplete]="auto"
            />
        <mat-autocomplete #auto (optionSelected)="selectActor($event)">
            @for(actor of actors; track $index){
                <mat-option [value]="actor" class="actor-autocomplete-option">
                    <img 
                        [src]="actor.picture" 
                        alt="picture - {{actor.name}}" 
                        class="actor-autocomplete-img" 
                    />
                    {{ actor.name }}
                </mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</form>

<div class="table-container">
    @if(selectedActors.length > 0){
        <table 
            mat-table 
            [dataSource]="selectedActors" 
            class="mat-elevation-z8" 
            cdkDropList 
            [cdkDropListData]="selectedActors"
            (cdkDropListDropped)="finishDragging($event)"
            >
            
            <ng-container matColumnDef="picture">
                <td mat-cell *matCellDef="let actor">
                    <img class="table-img" [src]="actor.picture" style="height: 50px;"  alt="picture">
                </td>
            </ng-container>
    
            <ng-container matColumnDef="name">
                <td mat-cell *matCellDef="let actor">
                    {{actor.name}}
                </td>
            </ng-container>
            
            <ng-container matColumnDef="character">
                <td mat-cell *matCellDef="let actor">
                    <mat-form-field appearance="outline" style="margin:5px 0px; padding: 0px;">
                        <mat-label>Personaje</mat-label>
                        <input matInput [(ngModel)]="actor.character"  />
                    </mat-form-field>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="actions">
                <td mat-cell *matCellDef="let actor">
                    <mat-icon mat-list-icon (click)="delete(actor)">close</mat-icon>
                </td>
            </ng-container>
    
            <tr 
                mat-row 
                *matRowDef="let row; columns: tableColumns" 
                cdkDrag
                [cdkDragData]="row"
                ></tr>
    
        </table>
    }

</div>
