
<app-generic-list [items]="movies">
    <ng-container content>
        <div class="movies-container">
            @for(movie of movies; track $index){
                <div class="movie-container">
                    <a>
                        @if(movie.poster){
                            <img class="movie-poster" [src]="movie.poster" height="250" width="169" alt="{{ movie.title }}" />
                        } @else {
                            <img class="movie-poster" src="default.jpg" height="250" width="169" alt="Default poster" />
                        }
                        <p>
                            <a>{{ movie.title }}</a>
                        </p>
                        <div class="actions">
                            <a mat-flat-button>Editar</a>
                            <button mat-flat-button type="button" class="warn">Eliminar</button>
                        </div>
                    </a>
                </div>
            }
        </div>
    </ng-container>
</app-generic-list>

    

