
<!-- <button (click)="addNewMovie()">Agregar Nueva Película</button> -->

<app-generic-list [items]="movies">
    <ng-container content>
        @for (movie of movies; track $index) {
            <div class="movie-container">
                <div style="display: flex; flex-direction: row; gap: 30px">
                    <div>
                        @if(movie.poster) {
                            <img 
                                src="{{movie.poster}}"
                                alt="{{movie.title}} poster" 
                                height="250" 
                                width="169" 
                            />
                        } @else {
                            <img 
                                src="default.jpg" 
                                alt="Default poster" 
                                height="250" 
                                width="169" 
                            />
                        }
                    </div>
                    <div>
                        <h2>{{movie.title}}</h2>
                        <p>Release Date: {{movie.releaseDate | date:'longDate'}}</p>
                        <p>Price: {{movie.price | currency:'USD':'symbol':'1.2-2'}}</p>
                        <button mat-flat-button class="warn" matButton="elevated" (click)="removeMovie(movie)">
                            <mat-icon>delete</mat-icon>
                            Eliminar 
                        </button>
                    </div>
                </div>
                
            </div>
        }
    </ng-container>
</app-generic-list>

    

